<div class="center hero-unit">
  <h1>Bem-vindo ao SISDUN</h1>

  <h2>
    Esta é a Home page do projeto
    <a href="https://github.com/WanderleyJunior/sisdun">Sisdun</a>
    <a href="https://www.facebook.com/pages/Sorvetes-Dunilo/197649210255360">Facebook</a>
    Sistema de sorveteria.
  </h2>

  <%= link_to "Sign in now!", '#', class: "btn btn-large btn-primary"  %>
</div>

<%= link_to image_tag("", alt: "Imagem Sorvete"), "https://www.facebook.com/pages/Sorvetes-Dunilo/197649210255360" %>
