<div class="center hero-unit">
  <h1>Bem-vindo ao SISDUN</h1>

  <h2>
    Esta é a Home page do projeto
    <a href="https://github.com/WanderleyJunior/sisdun">Sisdun</a>
    Sistema de Sorveteria.
  </h2>
  <%= link_to "Entre agora!", signin_path, class: "btn btn-large btn-primary"  %>
</div>

