<%= form_for(@debt) do |f| %>
  <fieldset>
  <legend>Novo Fiado</legend>
  <div class="control-group">
    <%= f.label :expiration_date, 'Data de Vencimento*', class: 'control-label' %>
    <div class="controls">
      <%= f.date_select :expiration_date,
        {order: [:day, :month, :year], 
        use_short_month: true, 
        start_year: Date.today.year, 
        end_year: Date.today.year + 10, 
        prompt: { :day => 'dia', :month => 'mês', :year => 'ano' }},
        {class: "input-mini"}
      %>
    </div>
  </div>
  </fieldset>
  <div class="form-actions">
    <%= f.submit 'Enviar', class: 'btn btn-primary' %>
  </div>
<% end %>