<% provide(:title, 'Contas a Receber') %>

<div class="page-header">
  <h1>Contas a Receber</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Venda</th>
      <th>Cliente</th>
      <th>Data Vencimento</th>
      <th>Data Pagamento</th>
      <th>Valor Total</th>
      <th>Valor Recebido</th>
      <th>Criada em</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @debts.each do |debt| %>
      <tr>
        <td><%= link_to debt.order_id, order_path(debt.order) %></td>
        <td>
          <% if debt.order.customer_id.nil? %>
          <% else %>
            <%= debt.order.customer.full_name %>
          <% end %>
        </td>
        <td><%= debt.expiration_date %></td>
        <td><%= debt.date_payment %></td>
        <td><%= debt.total %></td>
        <td><%= debt.amount_paid %></td>
        <td><%= debt.created_at.strftime('%d/%m/%Y')  %></td>
        <td>
           <%= link_to "Mostar", debt, class: 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
