<% provide(:title, 'Conta a Receber' ) %>

<div class="page-header">
  <h1>Conta a Receber</h1>
</div>

<dl class="dl-horizontal">
  <fieldset>
    <legend>Dados da Conta:</legend>
    <dt><strong>Conta a Receber:</strong></dt>
    <dd><%= @debt.id %></dd>
    <dt><strong>Cliente:</strong></dt>
    <dd>
      <% if @debt.order.customer_id.nil? %>
      -
      <% else %>
        <%= @debt.order.customer.full_name %>
      <% end %>
    </dd>
    <dt><strong>Data da venda:</strong></dt>
    <dd><%= @debt.created_at.strftime('%d/%m/%Y') %></dd>
    <dt><strong>Data do Vencimento:</strong></dt>
    <dd>
      <% if @debt.expiration_date.nil? %>
        -
      <% else %>
        <%= @debt.expiration_date.strftime('%d/%m/%Y') %>
      <% end %>
    </dd>
    <dt><strong>Ultimo do Pagamento:</strong></dt>
    <dd>
      <% if @debt.date_payment.nil? %>
        -
      <% else %>
        <%= @debt.expiration_date.strftime('%d/%m/%Y') %>
      <% end %>
    </dd>
    <dt><strong>Valor Recebido:</strong></dt>
    <dd><%= nill?(@debt.amount_paid) %></dd>
    <dt><strong>Valor da Compra:</strong></dt>
    <dd><%= nill?(@debt.total) %></dd>
    <dt><strong>Estado:</strong></dt>
    <dd><%= @debt.order.status %></dd>
  </fieldset>
  </br>
  <fieldset>
    <legend>Itens:</legend>
    <% @line_items.each do |item| %>
        <dt><strong><%="Produto:" if item.order_id == @debt.order_id %></strong></dt>
        <dd><%= "#{item.quantity}, #{item.product.category.name}, #{item.product.title}, R$ #{sprintf("%0.2f", item.product.price)}, Total = R$ #{sprintf("%0.2f", item.quantity * item.product.price)}" if item.order_id == @debt.order_id %></dd>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>Recebimentos</legend>
    <% @debt.partials.each do |partial| %>
      <dt><strong>Valor Recebido:</strong>
      <dd><%= partial.price %></dd>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>Novo Recebimento</legend>
      <%= form_for [@debt, @debt.partials.build] do |builder| %>
        <%= render 'partials', f: builder  %>
      <% end %>
  </fieldset>
  </br>
</dl>
<div class="form-actions">
    <%= link_to 'Voltar', debts_path, class: 'btn' %>
</div>