<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <div class="pull-right">
      <%= link_to "edit", edit_user_path(user), class: "btn btn-primary" %>
      <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-primary" %>
    </div>
  <% end %>
</li>
