<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        Nome: <%= @user.name %><br/>
        Email: <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>
