<% provide(:title, 'Venda' ) %>

<div class="page-header">
  <h1>Venda: <small>
    <% if @order.customer_id.nil? %>
      A Vista
    <% else %>
      <%= @order.customer.full_name %>
    <% end %>
  </small></h1>
</div>

<dl class="dl-horizontal">
  <fieldset>
    <legend>Dados venda:</legend>
    <dt><strong>Id:</strong></dt>
    <dd><%= @order.id %></dd>
    <dt><strong>Nome:</strong></dt>
    <dd>
      <% if @order.customer_id.nil? %>
        A Vista
      <% else %>
        <%= @order.customer.full_name %>
      <% end %>
    </dd>
    <dt><strong>Data da venda:</strong></dt>
    <dd><%= @order.created_at.strftime('%d/%m/%Y') %></dd>
    <dt><strong>Valor Total:</strong></dt>
    <dd><%= "R$ #{sprintf("%0.2f",@order.price)}"%></dd>
    <dt><strong>Estado:</strong></dt>
    <dd><%= @order.status %></dd>
  </fieldset>
  </br>
  <fieldset>
    <legend>Itens:</legend>
    <% @line_items.each do |item| %>
        <dt><strong><%="Produto:" if item.order_id == @order.id %></strong></dt>
        <dd><%= "#{item.quantity}, #{item.product.category.name}, #{item.product.title}, R$ #{sprintf("%0.2f", item.product.price)}, Total = R$ #{sprintf("%0.2f", item.quantity * item.product.price)}" if item.order_id == @order.id %></dd>
    <% end %>
  </fieldset>
</dl>

<div class="form-actions">
    <%= link_to 'Voltar', orders_path, class: 'btn' %>
    <%= link_to "Deletar", @order, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-danger" %>
</div>