<h2>Carrinho</h2>
<table>

<%= render(cart.line_items) %>

<tr class="total_line">
<td colspan="2"><strong>Total</strong></td>
<td class="total_cell"><strong>
  <%= sprintf("%0.2f",cart.total_price) %></strong></td>
</tr>
</table>

</br>
<%= button_to 'Limpar Carrinho', cart, method: :delete,
data: { confirm: 'Voce tem certeza?' } %>
<%= button_to "Efetuar Venda", new_order_path, method: :get, class: 'btn btn-primary'%>