@import "bootstrap";

@media print {
  .visible-print  { display: inherit !important; }
  .hidden-print   { display: none !important; }
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  color: #f00;
}

.table tbody td{
  vertical-align: middle;
} 