<header class="navbar navbar-fluid-top navbar-inverse" >
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Sisdun</a>
            <div class="container-fluid">
              <ul class="nav pull-right">
                <li><%= link_to "Home", root_path %></li>
                <% if signed_in? %>
                  <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <%= current_user.name %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Profile", current_user %></li>
                      <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
                      <% if current_user.admin? %>
                        <li class="divider"></li>
                        <li><%= link_to "Usuários", users_path %></li>
                      <% end %>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Sair", signout_path, method: :delete %>
                      </li>
                    </ul>
                  </li>
            <% else %>
              <li><%= link_to "Entrar", signin_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>