  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Navegação</li>
      <% if signed_in? %> 
        <li><%= link_to "Categorias", categories_path %></li>
        <li><%= link_to "Clientes", customers_path %></li>
        <li><%= link_to "Contas a Receber", debts_path %></li>
        <li><%= link_to "Produtos", products_path %></li>
        <li><%= link_to "Vendas", orders_path %></li>
        <% if current_user.admin? %>
          <li class="divider"></li>
          <li class="nav-header">Administração</li>
          <li><%= link_to "Usuários", users_path %></li>
        <% end %>
      <% else %>
        <li><%= link_to "Entrar", signin_path %></li>
      <% end %>
    </ul>
  </div><!--/.well -->
